body{
    border: 0;
    margin: 0;
    font-family: 'Mohave', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
button{
    cursor: pointer;
}

#toprectangle{

  width: 1518px;
  
height: 44px;
 background: #EBEFF8;
  display: flex;


}


#bus{
  
    margin: 15px 0px 15px 268px;
   
}
#toprectangle a{
    width: 216px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    margin: 15px 0px 15px 4px;
    
}
#toprectangle p{

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
   
}
#langauge{
    font-size: 13px;
    border: 0;
    margin: 13px 10px 10px 600px;
    padding:0px 20px 0px 10px;
    background: #EBEFF8;
}
#toprectangle p{
  
    margin: 13px 50px 10px 10px;
}

 

/*  this for logo and catalog an search  */
.heading{
    background: #FFFFFF;
    margin: 0px 0px 0px 52px;
    width: 1384px;
    Height : 70px;

}
.subheading{
    margin: 8px 0px 0px 20px;
    Width :1386px;
Height :60px;
display:flex;


}
.imagess{
    display:inline-block;
  
    margin: 0px 0px 3px 0px;
    width: 52px;
    height: 52px;
    
}
.i1{
    position: relative;
    top: 1px;
    left: 9px;
    


}
.i2{
    position: relative;
    bottom: 24px;
    left: 2px;
z-index: 2;
    
}
.i3{
    
    position: relative;
    bottom: 17px;
   
    right: 33px;
    background: #51469D;
    width: 10px;
    height: 17px;
z-index: 1;
    

}
 h1{
    margin: 0px 0px 3px 4px;

    display:inline-block;
}


.sbar{    display: flex;
    justify-content: center;
   border: 1px solid black;
   border-radius: 69px;
   height:60px;
   margin: 0px 233px 3px 216px;
   width: 584px;
}
#labelc{
    margin:10px 10px 10px 40px;
}  

#Categories{
    margin:10px 27px 10px 30px;
    border:0;
    padding:10px 10px;

}
.sbar p{
    display: inline-block;
    
}
#search{
    margin: 0px 10px 0px 20px;
    display: inline-block;
    border: 0;
}
.searchbutton{
   margin:12px 0px 0px 0px; 
    border:0;
    background: #FFFFFF;
  

}
.searchimg{
    margin:12px 0px 0px 0px; 
    border:0;
    background: #FFFFFF;
    width: 15px;
    height: 15px;
    padding: 0px 10px 0px 20px;

}
.searchbutton img{
    
    width: 15px;
    height: 15px;
    padding: 0px 10px 0px 20px;

}



/* <!--  -----this is main content ----- --> */
.container{
margin:100px  0px;
    width: 100%;;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#fogetpasswordform{
    margin:50px 10px;
}


#newpassword{
    width: 80%;
    padding:5px ;
    margin:20px 10px 10px 10px;
    font-size:16px;
    line-height:25px;
    border-radius: 5px;
}


#conform-newpassword{
    width: 80%;
    padding:5px ;
    margin:20px 10px 10px 10px;
    font-size:16px;
    line-height:25px;
    border-radius: 5px;
}










#sub{
    cursor: pointer;
    color: white;

    display:block;
    border: 0;
    width: 365.21px;
    height:48.58px;
    margin: 20px 10px 10px 30px ;
    background: #7A4B9E;
border-radius: 120px;
}



 
  /* this is footer */

  /* this is footer */
  footer{
    width: 1518px;
  
height: 548px;
display: flex;
flex-direction: column;
    background: #7A4B9E;
   
  }
  
  .footercontainer{
    width: 1298px;
height: 277px;
display: inline-flex;
background: #7A4B9E;
margin: 97px 10px 0px 10px;


  }


  .footerlogopart{
    width: 283px;
height: 229px;  
    display:flex;
    flex-direction: column;
    margin:0px 32px 0px 32px ;
    

  }


  .footerlogoandletter{
    display: flex;
  }
  .logoletter{

    color: white;
   
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 35px;
letter-spacing: 3px;


color: #FFFFFF;

  }
  /* this for footer logo  */
  .imagessforfooter{
    display:inline-block;
  
    margin: 0px 0px 3px 4px;
    width: 52px;
    height: 52px;
    
}
.i1ii{
    position: relative;
    top: 1px;
    left: 9px;
    


}
.i2ii{
    position: relative;
    bottom: 24px;
    left: 2px;
z-index: 2;
    
}
.i3ii{
    
    position: relative;
    bottom: 17px;
   
    right: 33px;
    background: #51469D;
    width: 10px;
    height: 17px;
z-index: 1;
    

}


.footeraddress{

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;


color: #FFFFFF;

}
.footerphoneandemail{
  display:flex;
align-items: center;
}
.footerphonenumber {
  text-decoration: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
  color: #FFFFFF;
  display:flex;
  margin: 10px 10px 10px 10px ;

}
.footerlogopartimg{
  display: inline-block;
  width: 26px;
height: 34px;
border-radius: 50%;
border:1px solid white;
}
.footerlogopartimg img{
  
  margin-top: 10px;
  
  width: 26px;
  height: 12px;
}

.footeremail{
  display:flex;
  margin: 10px 10px 10px 10px;
}
.footeremail a{
  text-decoration: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
  color: #FFFFFF;
  

}


/* this is for contact footer parts */
.footermycontact{
  width: 188px;
  height: 172px;
  display: flex;
  flex-direction: column;
  margin:0px 32px 0px 32px ;
  
}
.footerheading{
  
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 35px;

/* White Color */

color: #FFFFFF;


}


.mycontactlist a{
  text-decoration: none;

font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 30px;
/* or 250% */


/* White Color */

color: #FFFFFF;

}



.footercontact{
  display: flex;
  flex-direction: column;
  width: 250px;
height: 188px;
margin:0px 32px 0px 32px ;

}

/* this s for download app in footer */
.footerdownload{
  width: 415px;
height: 260px;
display: flex;
flex-direction: column;  
margin:0px 32px 0px 32px ;
}
.footerdownloadimg{
  display: flex;
  width: 415px;
  height: 91px;
}
.footerapp{
  border: 0;
  background-color: #7A4B9E;
  width: 195px;
  height: 75px;
}
.footerapp img{
  width: 183px;
    height: 68px;

  border-radius: 10px;
  background: #7A4B9E;
}
#appleapplogo img{
  width: 158px;
  height: 81px;
  margin:-5px 0px 0px 0px;
}


.footercopywrite{

  border-top:1px solid #d8cece ;
text-align: center;
width: 1518px;
height:95px ;
background: #7A4B9E;
margin:79px 0px 0px 0px  ;

}
.footercopywrite span{
  display:inline-block;
  margin-top:37px ;
 
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

/* White Color */

color: #FFFFFF; 

}
